.file_upload {
    text-align: center;
}

.introduction {
    width: 70%;
    margin: 78px auto;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 0.02em;
    line-height: 140%;
}

.docx {
    font-family: 'Consolas', sans-serif;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: 0.02em;
    line-height: 140%;
}

.error_message {
    width: 55%;
    /*margin: 39px auto;*/
    margin: -39px auto 39px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 0.02em;
    line-height: 140%;

    color: red;
}

.doc_icon {
    width: 120px;
    margin: 30px;
}

.file_uploading {
    height: 290px;
    width: 517px;
}

.file_uploading_description {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.file_uploading_icon {

}

.file_upload_form {
    /*border-style: dashed;*/
    /*border-radius: 15px;*/
    /*border-color: #D3D3D3;*/
    background-image: url("Rectangle 17.svg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 50%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 165px;
    padding: 60px;
    /*margin-bottom: 105px;*/
}

.status {
    margin-bottom: 101px;
}

.file_upload_input {
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.file_upload_button {
    margin: 0 auto;
    background-color: var(--main-blue);
    color: var(--main-white);
    border-style: none;
    border-radius: 38px;
    width: 325px;
    height: 75px;
    display: block;
    text-transform: uppercase;
    transition: 0.5s all;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 140%;

    border-style: solid;
    border-color: var(--main-blue);
}

.file_upload_button:hover {
    cursor: pointer;
    color: var(--main-blue);
    background-color: var(--main-white);
    transition: 0.5s all;
}

.file_upload_button:active {
    color: var(--main-dark);
    background-color: var(--main-gray);
    border-color: var(--main-gray);

}

.subtext {
    text-transform: lowercase;
    margin-top: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 140%;
}

.queue_text {
    color: darkgray;
}

.processing_text {
    color: orange;
}

.error_text {
    color: red;
}

.progressbar_container {
    position: relative;
    width: 25%;
    height: 10px;
    border-radius: 50px;
    border: 2px solid #ededed;
    overflow: hidden;
}

.progressbar {
    opacity: 69%;
    width: 100%;
    height: 10px;
    position: absolute;
    border-radius: 50px;
    left: -100%;
    animation: load 3s linear infinite;
}

@keyframes load{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}

.progressbar_queue {
    background-color: darkgray;
}

.progressbar_ready {
    background-color: var(--main-green);
    left: 0%;
    animation: none;
}

.progressbar_processing {
    background-color: var(--main-blue);
}

.progressbar_error {
    background-color: red;
    left: 0%;
    animation: none;
}

.result_button {
    /*color: #55DC8B;*/
    /*border-color: #55DC8B;*/
    border-style: solid;
    border-radius: 18px;
    /*padding: 5px 20px;*/
    /*background-color: white;*/

    transition: 0.5s all;

    width: 136px;
    height: 35px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 140%;
}

.button_ready:hover {
    cursor: pointer;
    color: var(--main-white);
    background-color: var(--main-green);
}

.button_ready:active {
    cursor: pointer;
    color: var(--main-dark);
    background-color: var(--main-gray);
    border-color: var(--main-gray);
}

.button_queue {
    color: gray;
    border-color: gray;
    background-color: darkgray;
}

.button_ready {
    color: var(--main-green);
    border-color: var(--main-green);
    background-color: var(--main-white);
}

.button_processing {
    color: yellow;
    border-color: yellow;
    background-color: orange;
}

.button_error {
    color: red;
    border-color: red;
    background-color: var(--main-white);
}

.button_error:hover {
    cursor: pointer;
    color: var(--main-white);
    background-color: red;
}

.button_error:active {
    cursor: pointer;
    color: var(--main-dark);
    background-color: var(--main-gray);
    border-color: var(--main-gray);
}




