.body {
    background-color: rgb(59, 59, 59);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("admin_background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.admin_ico {
    width: 80px;
    height: 80px;
}

.login_ico {
    width: 16px;
    height: 20px;
    position: absolute;
    margin-right: 350px;
    margin-top: -20px;
}

.password_ico {
    width: 16px;
    height: 20px;
    position: absolute;
    margin-right: 350px;
    margin-top: 140px;
}

.login_form {
    display: flex;
    flex-direction: column;
    /*width: 20%;*/
    gap: 5px;
    background-color: #292929;
    height: fit-content;
    border-radius: 25px;

    padding-top: 45px;
    padding-bottom: 65px;
    padding-left: 70px;
    padding-right: 70px;

    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.05em;

    box-shadow: 0px 0px 226px 15px #0A8ECD;
}

.login_form p {
    width: 100%;
    text-align: center;
}

.login_form input {
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 140%;
    color: var(--main-white);
    background-color: #292929;
    border-width: 1px;
    border-radius: 35px;
    border-color: var(--main-white);
    padding-left: 45px;
}

.login_form input[type="text"] {
    background: url("login_ico.png") no-repeat 15px 15px;
}

.login_form input[type="password"] {
    margin-top: 20px;
    background: url("password_ico.png") no-repeat 15px 17px;
}

.login_form input[type="submit"] {
    padding: 0;

    margin: 53px auto 0;
    background-color: var(--main-blue);
    color: var(--main-white);
    border-radius: 38px;
    width: 175px;
    height: 45px;
    display: block;
    /*text-transform: uppercase;*/
    transition: 0.5s all;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: center;


    border-style: solid;
    border-color: var(--main-blue);
}

.login_form input[type="submit"]:hover {
    cursor: pointer;

    color: var(--main-blue);
    background-color: var(--main-white);
    transition: 0.5s all;
}

.login_form input[type="submit"]:active {
    color: var(--main-dark);
    background-color: var(--main-gray);
    border-color: var(--main-gray);

}

.login_form input:focus {
    outline: none;
}


