.body {
    background-color: rgb(59, 59, 59);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search_form {
    background-color: #787878;
    height: 75%;
    width: 50%;
    border-radius: 25px;
}

.doc_inf {
    background-color: #787878;
    border-radius: 25px;
}

.errors {
    background-color: #787878;
    border-radius: 25px;
}