.body {
    background-color: rgb(59, 59, 59);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("admin_background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}