.page_body {
    padding-left: 190px;
    padding-right: 130px;
}

.page_content {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-column-gap: 2rem;
    /*align-items:center;*/
}

.page_description {
    grid-column-start: 1;
    grid-column-end: 7;
}

.page_description__header {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.015em;
    text-align: left;

}

.page_description__text {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 29px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.015em;
    text-align: left;

    margin-top: 2rem;
}

.page_description__image {
    position: relative;
    left: 70px;
    top: 20px;
}

.questions_and_answers {
    grid-column-start: 7;
    grid-column-end: -1;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    margin-left: 5rem;
}

.questions_and_answers__head {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 0.8rem;
}

.questions_and_answers__question_block {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    padding: 1.8rem;
}

.questions_and_answers__icon {

}

.questions_and_answers__question {
    font-family: 'Ubuntu', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 139.99%;

    /* identical to box height, or 28px */
    letter-spacing: 0.015em;

    color: #292929;
}

.questions_and_answers__answer {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.015em;
    text-align: left;
}

.footer {
    height: 100px;
}