:root {
    --main-blue: #0A8ECD;
    --main-dark: #292929;
    --main-white: #F2F2F2;
    --main-gray: #D3D3D3;
    --main-green: #55DC8B;
}

.header {
    background-color:var(--main-dark);
    color: var(--main-white);
    display: flex;
    height: 100px;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 100px;
}

.linkname {
    color: var(--main-white);
    position: absolute;
    margin-left: 200px;
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
    text-decoration: none;
}

.name {

}

.linkfaq{
    width: 7%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
}

.faq {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
    color: var(--main-white);
}

.linklogout{
    width: 7%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
}

.logout {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
    color: var(--main-white);
}

.linkabout{
    width: 10%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
    color: var(--main-white);
}

.menu {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 60px;
    font-size: 1.2em;
}

.menu .menu_element {
}

/*.menu .menu_element:hover {*/
/*    !*border-bottom-style: solid;*!*/
/*    !*border-bottom-color: #F2F2F2;*!*/
/*    !*border-bottom-width: 2px;*!*/
/*    box-shadow: 0px 2px white;*/
/*}*/

.menu_element {
    color: var(--main-white);
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-size: 1.5em;
    /*letter-spacing: 0.15em;*/
    /*display: inline-block;*/
    padding: 15px;
    position: relative;
}

.menu_element::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    /*display: block;*/
    /*background: none repeat scroll 0 0 transparent;*/
    height: 4px;
    width: 0;
    background: var(--main-white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu_element:hover::after {
    width: 100%;
    left: 0;
}