:root {
    --main-blue: #0A8ECD;
    --main-dark: #292929;
    --main-white: #F2F2F2;
    --main-gray: #D3D3D3;
    --main-green: #55DC8B;
}

.header {
    background-color: transparent;
    color: #000000;
    display: flex;
    height: 20rem;
    align-items: center;
    padding-left: min(14rem, 8vw);
    padding-right: min(5rem, 6vw);
    grid-column-gap: 2rem;
    z-index: 1;
}

.logo {
    width: 10rem;
}

.linkname {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 100%;
    text-decoration: none;
}

.name {

}

.linkfaq{
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.faq {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.linklogout{
    width: 7%;
    height: 100%;
    text-align: center;
    padding-top: 3rem;
    text-decoration: none;
}

.logout {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 140%;
    color: var(--main-white);
}