@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*1rem = 10px*/
    font-size: 62.5%;
    /*font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*%%PERCENTS%%*/

@media (max-width: 480px) { /* zoom 390%+ */
    /* Will target mobile devices in landscape mode and up */

    html {
        font-size: 40%;
    }

    .image_student_writing {
        display: none;
    }

    .page {
        /*background-color: green !important;*/
        padding-top: 9.4rem !important;

        display: block !important;

        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .upload_block {
        margin: 0 auto !important;
    }

    .upload_block__header {
    }


    .upload_block__notation {

    }

    .upload_block__drag_n_drop_tip {

    }

    .upload_block__button {

    }
}

@media (min-width: 481px) and (max-width: 767px) { /* zoom 380%-260% */
    /* Targets tablets in portrait mode and up */

    html {
        font-size: 60%;
    }

    .image_student_writing {
        display: none;
    }

    .page {
        /*background-color: green !important;*/
        padding-top: 9.4rem !important;

        display: block !important;

        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .upload_block {
        margin: 0 auto !important;
    }

    .upload_block__header {
    }


    .upload_block__notation {

    }

    .upload_block__drag_n_drop_tip {

    }

    .upload_block__button {

    }
}

@media (min-width: 768px) and (max-width: 979px) { /* zoom 250%-200% */
    /*  Targets tablets in landscape mode and up */

    .image_student_writing {
        display: none;
    }

    .page {
        /*background-color: green !important;*/
        padding-top: 9.4rem !important;

        display: block !important;

        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .upload_block {
        margin: 0 auto !important;
    }

    .upload_block__header {
    }


    .upload_block__notation {

    }

    .upload_block__drag_n_drop_tip {

    }

    .upload_block__button {

    }

}

@media (min-width: 1024px) { /* zoom 190%- */
    /* Targets the desktop view */

    .image_student_writing {
        /*display: none;*/
    }

    .page {
        /*background-color: grey !important;*/
    }

    .upload_block {

    }

    .upload_block__header {
    }


    .upload_block__notation {

    }

    .upload_block__drag_n_drop_tip {

    }

    .upload_block__button {

    }
}

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
    padding-top: min(15vh, 18.4rem);
    background: white;
    height: calc(100% - min(15vh, 18.4rem));
    padding-left: min(7vw, 12rem);
    padding-right: min(7vw, 12rem);
}

.upload_block {
    /*width: 43.23vw;*/
    height: 22rem;

    grid-column-start: 1;
    grid-column-end: 7;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1.2rem;
}

.upload_block__header {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 4rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.015em;
}

.upload_block__notation {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.upload_block__notation___bold {
    font-size: inherit;
    font-weight: bold;
}

.upload_block__controls {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.upload_block__button {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    text-transform: uppercase;

    height: 7.5rem;
    width: 32.5rem;
    border-radius: 20px;

    background: linear-gradient(259.83deg, #0089CD -5.57%, #00BCCD 87.25%);
    box-shadow: 0rem 1.9rem 1.1rem -1.6rem #0380B1;
}

.upload_block__button:hover {
    cursor: pointer;

    background: linear-gradient(259.83deg, #00BCCD 67.03%, #0089CD 87.25%);
    box-shadow: inset 0rem 1.9rem 1.1rem -1.9rem #0380B1;
}

.upload_block__button:active {
    background: linear-gradient(237.16deg, #E7E7E7 -11.87%, #C5C5C5 73.7%);
    box-shadow: inset 0rem 1.9rem 1.1rem -1.6rem rgba(0, 0, 0, 0.25)
}

.upload_block__drag_n_drop_tip {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 2rem;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.image_student_writing {
    grid-column-start: 7;
    grid-column-end: -1;

    width: 85.4rem;
    height: auto;

    /*aspect-ratio: 874/592;*/
}