.result_box {
    border-style: dashed;
    border-radius: 15px;
    border-color: #D3D3D3;
    width: 66%;
    height: 66%;
    margin: 65px auto;
    padding: 60px;

    display: flex;
    gap: 40px;
}

.statistics {

    border-style: dashed;
    border-color: #D3D3D3;

    width: 30%;

    background-color: #FFFFFF;

}

.document_content {
    border-style: dashed;
    border-color: #D3D3D3;

    background-color: #FFFFFF;

    width: 60%;
}