.result_box {
    /*border-style: dashed;*/
    /*border-radius: 15px;*/
    /*border-color: var(--main-white);*/
    background-image: url("Rectangle 17.svg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 66%;
    margin: 65px auto;
    padding: 45px 45px 45px;
    display: grid;
    gap: 40px;
    grid-template:
            "a a a" 40px
            "b c c"
            "b c c"  / 1fr 1fr 1fr;
}

.statistics {
    /*background-image: url("Rectangle 17.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
    border-style: solid;
    border-color: var(--main-gray);
    border-width: 2px;
    height: 58vh;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;

    /*border-style: dashed;*/
    /*border-color: var(--main-white);*/
    background-color: #FFFFFF;
    /*width: 30%;*/
    grid-area: b;
    color: red;
}

.errors {
    color: red;
    margin-left: 20px;
}

.back_arrow_link{
    padding: 10px;
    margin-left: -10px;
}

ul {
    list-style: url("forward_red_arrow.svg");
}

.document_content {
    background-color: #FFFFFF;
    grid-area: c;
    height: 58vh;
    box-sizing: border-box;
    border-style: none;
}

.result_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    grid-area: a;
}

.file_block {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.document_view {
    background-color: #FFFFFF;
    grid-area: c;
    height: 58vh;
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--main-gray);
    border-width: 2px;
}